
     <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
        @for (metrice of keyMetrics; track $index) {
            <div class="bg-gradient-to-br from-gray-50 to gray-100 p-6 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 border border-gray-200">
                <!-- header -->
                <div class="flex items-center justify-between mb-4">
                    <div class="text-3xl">{{metrice.icon}}</div>
                    <div class="text-right">
                        <h3 class="text-sm font-medium text-gray-600">
                            {{metrice.name}}
                        </h3>
                    </div>
                </div>
                <!-- value  -->
                 <div class="mb-3">
                    <span class="text-3xl font-bold text-gray-800">
                        {{metrice.value}}
                    </span>
                    <span class="text-lg text-gray-600 ml-1">{{metrice.unit}}</span>
                 </div>
                 <!-- trend indicator -->
                  <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <!-- trend arrow -->
                         <span class="text-lg mr-2">
                            @if(metrice.trend.direction === 'up') {
                               <span class="text-red-500">&#9650;</span> <!-- up arrow -->
                            } @else if(metrice.trend.direction === 'down') {
                               <span class="text-green-500">&#9660;</span> <!-- down arrow -->
                            } @else {
                               <span class="text-gray-500">&#8212;</span> <!-- neutral dash -->
                            }
                         </span>
                         <!-- trend percentage -->
                         <span class="text-sm font-medium " [class] ="metrice.trend.direction === 'up' ? 'text-red-500' : (metrice.trend.direction === 'down' ? 'text-green-500' : 'text-gray-500')">
                            {{metrice.trend.direction === 'neutral' ? 'No Change' : metrice.trend.percentage + '%'}}
                         </span>
                    </div>
                  </div>
            </div>
            <!-- label trend -->
             <span class="text-xs text-gray-500">
                @if(metrice.trend.direction === 'up') {
                   <span class="text-red-500">Increasing</span>
                } @else if(metrice.trend.direction === 'down') {
                   <span class="text-green-500">Decreasing</span>
                } @else {
                   <span class="text-gray-500">Stable</span>
                }
             </span>
        }

     </div>

