<nav class="nav-bar flex items-center justify-between p-4 text-white ">
    <div class="logo">
    <i class="fa-solid fa-wind"></i>
    <span class="logo-name">Weather Guardian</span>
    </div>
<ul class="nav-links flex space-x-6">
  <li>
    <a href="#"
      class="relative text-white transition hover:text-orange-500 
             after:content-[''] after:absolute after:left-0 after:-bottom-1 
             after:w-0 after:h-[2px] after:bg-orange-500 
             after:transition-all after:duration-300 hover:after:w-full">
      Home
    </a>
  </li>
  <li>
    <a href="#"
      class="relative text-white transition hover:text-orange-500 
             after:content-[''] after:absolute after:left-0 after:-bottom-1 
             after:w-0 after:h-[2px] after:bg-orange-500 
             after:transition-all after:duration-300 hover:after:w-full">
      Features
    </a>
  </li>
  <li>
    <a href="#"
      class="relative text-white transition hover:text-orange-500 
             after:content-[''] after:absolute after:left-0 after:-bottom-1 
             after:w-0 after:h-[2px] after:bg-orange-500 
             after:transition-all after:duration-300 hover:after:w-full">
      About
    </a>
  </li>
  <li>
    <a href="#"
      class="relative text-white transition hover:text-orange-500 
             after:content-[''] after:absolute after:left-0 after:-bottom-1 
             after:w-0 after:h-[2px] after:bg-orange-500 
             after:transition-all after:duration-300 hover:after:w-full">
      Contact
    </a>
  </li>
</ul>

</nav>